main {
  padding: 0 2em 0 2em;
  background-color: white;
}

h3 {
  padding: 1rem 0;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

/* navbar */
.navbar {
  background-color: #e3686b;
}

a.active.navbar-brand {
  color: white;
}

.navbar-nav {
  padding: 5px;
}

a#adminmenu.dropdown-toggle.nav-link {
  color: black;
}
a#username.dropdown-toggle.nav-link {
  color: black;
}

.dropdown-menu {
  border-radius: 10px;
  margin: 10px;
  line-height: 20px;
}

/* postScreen */
.postScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#goBackBtn {
  align-self: start;
  background-color: #e3686b;
}
.postTitle {
  padding: 50px;
}
